trigger: master  # Disable default trigger

pr:
  branches:
    include:
      - main
      - master
      - develop

resources:
  repositories:
    - repository: self
      type: github
      endpoint: moink635
      name: repomigrategit/RepoMigration

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
